@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto+Mono:wght@300;400&family=Roboto:wght@300;400&family=Work+Sans:wght@300;400&display=swap');
/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Roboto Mono', monospace;*/
/*font-family: 'Work Sans', sans-serif;*/
.navbar{
  font-family: 'Roboto Mono', monospace;
  background: rgba(197, 163, 141, 0.8);
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.brand{
  /*font-weight: bold;*/
  letter-spacing: 2px;
  font-size: 1.5px;

}

#body{
  background: url('./assets/sycamore_tree.jpg') no-repeat fixed;
  background-size: cover;
  /*background-repeat: no-repeat;*/
}


.logo{
  height: 30px;
  margin: 0 10px 5px 5px;
  background-color: #fff;
  padding: 2px;
  border-radius: 50%;
}

.navitems{
  display: inline-flex;
  /*background: blue !important;*/
  /*justify-content: space-around;*/
  
}

.nav-link{
  /*background-color: blue !important;*/
  margin: 0 10px 0 10px;
  font-size: 1rem;
  border-bottom: 1px solid transparent;
}

.nav-link:hover{
  font-weight: bold;
}

.nav-links{
  text-align: right;
  /*display: inline-flex;*/
  /*background: yellow !important;*/
}

.numberInput::-webkit-outer-spin-button,
.numberInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@media screen and (max-width: 991px) {
  .navitems{
    display: inline-block;
  }


}

.formContainer{
  padding: 20px;
  margin-top: 10px;
  text-align: center;
  background-color: rgba(236, 240, 243, 0.5);
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  box-shadow: 3px 3px 5px #404040,
                -3px -3px 5px #ffffff;
}

.form-control{
  box-shadow: inset 3px 3px 5px #cbced1,
                inset -3px -3px 5px #ffffff;
  border-radius: 20px;
  text-align: center;
  background: rgba(255,255,255,0.3) !important;
}


.form-control::placeholder{
  color: black !important;
  letter-spacing: 1px;
}

.form-control:focus{
  outline-width: 0 !important;
}

.btn-outline-dark{
  background: rgba(197, 163, 141, 1)!important;
  color: white;
}

.text-muted{
  color: black !important;
}

.jumbotron{
  background-color: rgba(0,0,0,0.1) !important;
  /*background-color: transparent !important;*/
  border-radius: 20px !important;
  margin-top: 100px;
  font-family: 'Roboto Mono', monospace;
  color: whitesmoke !important;
  text-align: center;
  box-shadow: 3px 3px 5px #404040,
                -3px -3px 5px #ffffff;
}

.jumbotron:hover{
  background-color: rgba(0,0,0,0.5) !important;
  transition: background-color 0.8s ease;
}

.jumbotron h1{
  font-size: 75px;
  /*text-align: left;*/
}

.jumbotron h3{
  font-size: 30px;
  /*text-align: left;*/
}

.jumbotron p{
  font-size: 20px;
  /*text-align: left;*/
}

.jumbotron a{
  font-size: 25px;
  border-radius: 50px !important;
}
.jumbotron a:hover{
  color: cyan !important;
  background-color: transparent !important;
  box-shadow: 0 0 7px 4px whitesmoke;
  transition: background-color 0.8s ease,
               box-shadow 0.8s ease,
               color 2s ease;
}

.greeting{
  font-size: 2.5rem;
  text-align: center;
}

.sectionContainer{
  text-align: center;
  /*background-color: rgba(255,255,255,0.5) !important;*/
  max-height: 50%;
  overflow: hidden;
  /*margin: 2px 0 2px 0;*/
}

.incomeCategories{
  overflow-y: scroll;
  background-color: rgba(46, 204, 113, 0.3);
  height: 350px;
  max-height: 300px;
}

.expenseCategories{
  overflow-y: scroll;
  background-color: rgba(192, 57, 43, 0.3);
  height: 350px;
  max-height: 300px;
}

.category-btn{
  margin: 2px;
}

.card{
  margin: 2px;
}

.transactionsOuterContainer{
  max-height: 50%;
  overflow: hidden;
}

.transactionsInnerContainer{
  overflow-y: scroll;
  height: 200px;
  max-height: 200px;
  
}

.entriesOuter{
  max-height: 80%;
  overflow: hidden;
}

.entriesInner{
  overflow-y: scroll;
  height: 350px;
  max-height: 500px;
  
}

.entriesSection{
  margin-top: 20px;
}

.mainContainer{
  height: 93.7vh;
  background-color: rgba(255,255,255,0.3) !important;
}
















/*:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}*/

/** {*/
  /*box-sizing: border-box;*/
/*}*/

.trackerContainer {
  /*background-color: rgba(255,255,255,0.5) !important;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 91vh;
  padding: 10px;
  /*margin: 30px;*/
  font-family: 'Lato', sans-serif;
}

.trackerInnerContainer {
  margin: 30px auto;
  width: 350px;
  /*background-color: yellow;*/
}

.trackerContainer h2 {
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
  /*background-color: yellow;*/
}

.trackerContainer h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 10px 0 10px 0;
  /*background-color: yellow;*/
  text-align: center;
}

.trackerContainer h4 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.trackerContainer .inc-exp-container {
  background-color: #fff;
  /*box-shadow: var(--box-shadow);*/
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  /*background-color: yellow;*/
  box-shadow: inset 3px 3px 5px #cbced1,
                inset -3px -3px 5px #ffffff;
}

.trackerContainer .inc-exp-container > div {
  flex: 1;
  text-align: center;

}

.trackerContainer .inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;

}

.trackerContainer .money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;

}

.trackerContainer .money.plus {
  color: #2ecc71;

}

.trackerContainer .money.minus {
  color: #c0392b;
}

.trackerContainer label {
  display: inline-block;
  /*margin: 10px 0;*/

}

.trackerContainer input[type='text'],
.trackerContainer input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  /*padding: 10px;*/
  width: 100%;
  /*background-color: yellow;*/
}

.trackerContainer input[type=number]::-webkit-inner-spin-button, 
.trackerContainer input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.entryAmount input[type=number]::-webkit-inner-spin-button, 
.entryAmount input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none !important; 
  margin: 0 !important; 
}

.trackerContainer .btn {
  cursor: pointer;
  /*background-color: #9c88ff;*/
  background-color: rgba(197, 163, 141, 1);
  /*box-shadow: var(--box-shadow);*/
  color: whitesmoke;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.trackerContainer .btn:focus,
.trackerContainer .delete-btn:focus {
  outline: 0;
  border-radius: 20px;
}

.trackerContainer .list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.trackerContainer .list li {
  background-color: #fff;
  /*box-shadow: var(--box-shadow);*/
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  background-color: rgba(0,0,0,0.8) !important;
}

.trackerContainer .list li.plus {
  border-right: 5px solid #2ecc71;
}

.trackerContainer .list li.minus {
  border-right: 5px solid #c0392b;
}

.trackerContainer .delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: black;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 50%;
}

.trackerContainer .list li:hover .delete-btn {
  opacity: 1;
}

.addTransaction input{
  background-color: transparent;
  text-align: center;
}

.addTransaction input::placeholder{
  color: black;
  letter-spacing: 1px;
}

.categoryContainer{
  display: flex;
  justify-content: space-between;
}

.selectCategory{
  width: 50%;
  background-color: rgba(0,0,0,0.8);
  color: whitesmoke;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  /*height: 20px;*/
  /*border-radius: 50px;*/
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #222; 
}